@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>About Us</h2>
    <p>Welcome to our jewelry store, where elegance meets craftsmanship.</p>
    <p>At Tirth Gold Jewelry, we believe in creating timeless pieces that celebrate life's special moments. With a passion for perfection and an eye for detail, we handcraft each piece with love and care.</p>
    <p>Our journey began in 1999 with a vision to redefine luxury and sophistication in the world of jewelry. Over the years, we have built a reputation for excellence, offering exquisite designs and unparalleled quality.</p>
    <p>From stunning engagement rings to dazzling necklaces and bracelets, our collection reflects the beauty and grace of every individual. Each piece is a work of art, meticulously crafted to captivate hearts and inspire awe.</p>
</div>




<div class="container mt-5">

    <h3>Our Team</h3>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/images/ceo.png" class="card-img-top" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">As the CEO of this platform, I am dedicated to providing you with the best experience possible. Feel free to explore our offerings and reach out if you have any questions or suggestions.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/images/manager.png" class="card-img-top" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title">Jane Smith</h5>
                    <p class="card-text">As the manager of this platform. I oversee day-to-day operations and ensure that everything runs smoothly for our customers. If you need assistance or have any concerns, don't hesitate to contact me.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/images/designer.png" class="card-img-top" alt="Team Member 3">
                <div class="card-body">
                    <h5 class="card-title">Lara Johnson</h5>
                    <p class="card-text">Our jewelry pieces are meticulously crafted by skilled artisans who are dedicated to creating stunning designs that resonate with elegance and sophistication. 

                    </p>
                    
                </div>
            </div>
        </div>
    </div>

    <p>Our team of passionate craftsmen and designers is dedicated to creating unique and exquisite pieces that reflect the beauty and sophistication of our customers.</p>
    <p>Thank you for choosing XYZ Jewelry.</p>
</div>