@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5">
    <h2>Contact Us</h2>
    <p>Have a question or need assistance? Please fill out the form below, and we'll get back to you as soon as possible.</p>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="inputName" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Your Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="inputMessage" class="form-label">Message</label>
                    <textarea class="form-control" id="inputMessage" rows="5" placeholder="Enter your message"></textarea>
                </div>
                <button type="submit" class="btn btn" style="background-color:#B47D2A;">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <h4>Visit Us</h4>
            <p>Tirth Gold, Gujarat</p>
            <p>Surat, 387056</p>
            <h4>Call Us</h4>
            <p>Phone: +91 635 396 3639</p>
            <p>Phone: +91 936 329 8556</p>
            <h4>Email Us</h4>
            <p>Email: tirthgold@gamil.com</p>
        </div>
    </div>
</div>