@{
    ViewData["Title"] = "MenCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="p-5">
        <div class="container  text-center" style="background-color:#B47D2A; color:white; width:300px;">
            <h3 class="p-3">Collection for Men</h3>
        </div>
    </div>


<div>
    <div class="container">
        <div class="row">


            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/mone.jpg" class="card-img-top" alt="mone" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹26,000 /-</h5>
                            <p class="card-text">
                                Stylish Design Latest Chain Necklace Fashionable Neck Chain Silver,  Plated Steel Chain
                            </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/mtwo.jpg" class="card-img-top" alt="mtwo" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹10,399 /-</h5>
                            <p class="card-text"> 
                                Dragon Black Blue Base Stainless Steel Finger Ring - Thumb Ring Valentine gift Intelligent Smart Ring
                                </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/mthree.jpg" class="card-img-top" alt="mthree" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹9,599 /-</h5>
                            <p class="card-text">
                                Stylish Design Popular and Latest Brass Beads Gold-plated Bracelet for men
                            </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/mfour.webp" class="card-img-top" alt="mfour" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹6,699 /-</h5>
                            <p class="card-text">
                                Silver Arrow & Owl Ring for Men and Boys Stylish Biker/Party Wear Silver Stainless Steel Pendant
                            </p>
                    </div>
                </div>
            </div>

            <div class="w-100 my-3"></div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/mfive.jpg" class="card-img-top" alt="mfive" style="height:200px; width:287px;">
                        <div class="card-body">
                            <h5 class="card-title">₹5,999 /-</h5>
                            <p class="card-text">
                                Glow in the Dark Radium Ring Pendant for Men Locket Silver Stainless Steel Pendant
                            </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/msix.webp" class="card-img-top" alt="msix" style="height:200px; width:287px;">
                        <div class="card-body">
                            <h5 class="card-title">₹19,899 /-</h5>
                            <p class="card-text">
                                Adjustable and Latest Design Rings For Boys Stainless Steel 900 Silver Plated Ring Set
                            </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/mseven.jpg" class="card-img-top" alt="mseven" style="height:200px; width:287px;">
                        <div class="card-body">
                            <h5 class="card-title">₹2,699 /-</h5>
                            <p class="card-text">
                                Tirth Gold Special Popular and Latest Stainless Steel Kada and Stylish Gold Kada for Men
                            </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/men/meight.jpg" class="card-img-top" alt="meight" style="height:200px; width:287px;">
                        <div class="card-body">
                            <h5 class="card-title">₹13,899 /-</h5>
                            <p class="card-text">
                                Gold Plated Brass Healthy Longevity Turtle-Tortoise Kachua Finger Ring Jewelry Brass Gold Plated Ring
                            </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
        </div>