@{
    ViewData["Title"] = "WomenCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="p-5">
        <div class="container  text-center" style="background-color:#B47D2A; color:white; width:400px;">
            <h3 class="p-3">Collection for Women</h3>
        </div>
    </div>

<div>
    <div class="container">
        <div class="row">


            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/wone.jpg" class="card-img-top" alt="wone" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹11,999 /-</h5>
                            <p class="card-text">
                                Candere by Tirth Gold Jewellers BIS Hallmark 20 inch Curb Chain Yellow Gold Precious Chain  (22kt)
                            </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/wtwo.jpg" class="card-img-top" alt="wtwo" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹7,889 /-</h5>
                            <p class="card-text">
                                Jewellis Solitaire Sterling Silver Ring for Women & Girls Cubic Zirconia Silver ring
                            </p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/wthree.jpg" class="card-img-top" alt="wthree" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹15,999 /-</h5>
                            <p class="card-text">
                                Twilight Crown BIS Hallmarked Diamond Ring For Girls and Women 14kt Diamond Yellow Gold ring
                            </p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/wfour.webp" class="card-img-top" alt="wfour" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹51,000 /-</h5>
                            <p class="card-text">
                                Candere by Tirth Gold Jewellers Stylish Choker Yellow Gold Precious Necklace (22kt)
                            </p>
                        </div>
                </div>
            </div>

            <div class="w-100 my-3"></div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/wfive.webp" class="card-img-top" alt="wfive" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹28,999 /-</h5>
                            <p class="card-text">
                                Candere by Tirth Gold Jewellers BIS Hallmark 18 inch Curb Chain Yellow Gold Precious Chain (22kt)
                            </p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/wsix.jpg" class="card-img-top" alt="wsix" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹17,500 /-</h5>
                            <p class="card-text">
                               Diamond Ring 2.01 Grams For Girls and Women 14kt Diamond Yellow Gold Bracelet
                            </p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/wseven.jpg" class="card-img-top" alt="wseven" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹10,990 /-</h5>
                            <p class="card-text">
                                Candere by Tirth Gold Lightweight Earrings Yellow Gold 22kt Dangle Earring
                            </p>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img src="~/images/women/weight.jpg" class="card-img-top" alt="weight" style="height:200px; width:287px;">
                    <div class="card-body">
                            <h5 class="card-title">₹81,999 /-</h5>
                            <p class="card-text">
                                 Tirth Gold Stylish Bras, Alloy Gold-platedand Stylish Brass Gold Jewellery Set 
                            </p>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>
        </div>